// Some useful Less Mixins https://github.com/dmitryf/elements
@import "elements.less";


//
// (1) Bootstrap Parameters Overwrites & Mixins
// --------------------------------------------------

@carousel-indicator-border-color:             #fff;
@carousel-indicator-active-bg:                #fff;
@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  20px;
@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);
@carousel-caption-color:                      #fff;

@screen-sm:                                   768px;
@screen-sm-min:                               @screen-sm;

// fluid images
.img-responsive(@display: block;) {
  display: @display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}




//
// (2) Mixins
// --------------------------------------------------

.prevent-from-transition-flickr() {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.prevent-user-select() {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resetTransition() {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}




//
// (3) Carousel styles
// --------------------------------------------------

.touch-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  .prevent-from-transition-flickr();
  .prevent-user-select
}

.touch-carousel-inner {
  overflow: hidden;
  .transform( translate3d(0%,0,0) scale3d(1,1,1) );
  .prevent-from-transition-flickr();
  .prevent-user-select();

  > .item {
    position: relative;
    float: left;
    display: block;

    .resetTransition();
    .prevent-from-transition-flickr();

    // Account for jankitude on images
    > img,
    > a > img, {
      .img-responsive();
      line-height: 1;
    }

    * { .resetTransition(); }
  }



  &.animate {
    .transition(all, .3s, linear);
  }






  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.touch-carousel-control {

  // hidden per default (touch enabled devices)
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: @carousel-control-width;
  .opacity(@carousel-control-opacity);
  font-size: @carousel-control-font-size;
  color: @carousel-control-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  // We can't have this transition here because webkit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.right {
    left: auto;
    right: 0;
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: @carousel-control-color;
    text-decoration: none;
    .opacity(.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .glyphicon-chevron-left {
    left: 50%;
  }
  .icon-next,
  .glyphicon-chevron-right {
    right: 50%;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
  }

  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.touch-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: @carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.touch-carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: @carousel-caption-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// non-touch fallback
.touch-carousel.non-touch {

  // @todo: default transitions

  .touch-carousel-control {
    display: block;
  }
}



// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {

  // Scale up the controls a smidge
  .touch-carousel-control {
    .glyphicons-chevron-left,
    .glyphicons-chevron-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      font-size: 30px;
    }
  }

  // Show and left align the captions
  .touch-carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .touch-carousel-indicators {
    bottom: 20px;
  }
}


// Hide/rearrange for smaller screens
@media screen and (max-width: @screen-sm-min) {

  // Show and left align the captions
  .touch-carousel-caption {
    display: none
  }
}
